xsd/antraege.xsd

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="datentypen.xsd" />
    <xs:element name="Antraege">
        <xs:annotation>
            <xs:documentation>Eine Liste von Anträgen</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:annotation />
                <xs:element name="Herkunft">
                    <xs:annotation>
                        <xs:documentation>Die Herkunft gibt das liefernde System an. Dieses Feld ist mit einem festen Wert zu füllen, der zwischen liefernden und aufnehmenden System abgestimmt wurde. Dieser Wert darf nur nach Abstimmung mit dem aufnehmenden System geändert werden.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="128" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Vertriebskanal" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Der Vertriebskanal liefert welcher Partner über die Herkunft liefert (Bsp. Herkunft: clickrepair, Vertriebskanal: Insureninja)</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="128" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Exportdatum" type="Datum">
                    <xs:annotation>
                        <xs:documentation>Datum der Lieferung der Antragsdatei(Format TT.MM.JJJJ).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Antrag" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Ein kompletter Antragsdatensatz</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Satznummer">
                                <xs:annotation>
                                    <xs:documentation>Die Satznummer dient der einfacheren Kommunikation mit dem Support des Liefersystems. Die Zeichenkette ist frei wählbar und muss eindeutig sein.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="128" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Vorgangsnummer" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>(optional) Eindeutige ID eines Vorgangs. Zu einem Vorgang können mehrere Dokumente(-nteile) gehören. Über die Vorgangsnummer werden diese als einander zugehörig erkannt.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="128" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:choice minOccurs="0">
                                <xs:element name="ArchivID">
                                    <xs:annotation>
                                        <xs:documentation>(optional) Existiert ein Dokument im nScale Archiv wird hier die ArchivID hinterlegt. (Nur nach separater Abstimmung und Freischaltung nutzbar)</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="128" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="Dokument">
                                    <xs:annotation>
                                        <xs:documentation>(Optional) Steht ein Antragsdokument zur Verfügung kann es hier übergeben werden, um später im Archiv abgelegt und mit dem Antrag verknüpft zu werden.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Dateityp" type="xs:string">
                                                <xs:annotation>
                                                    <xs:documentation>Der Dateityp des gescannten Antragsdokumentes (PDF, JPG etc.).</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="DateiB64" type="xs:string">
                                                <xs:annotation>
                                                    <xs:documentation>Der Inhalt der Datei als Base64 kodierte Zeichenkette.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                            <xs:element name="Antragsdatum" type="Datum">
                                <xs:annotation>
                                    <xs:documentation>Datum der Antragsstellung durch den Kunden. (Format TT.MM.JJJJ).</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Vermittlernummer" type="xs:positiveInteger">
                                <xs:annotation>
                                    <xs:documentation>Bei der Vermittlernummer handelt es sich um die Aktivpartner- oder Fachhändlernummer. Diese Nummern werden von der WERTGARANTIE für jeden Vermittler eindeutig vergeben. Jeder Angestellte eines Fachhandelsgeschäftes hat eine eigene, eindeutige Aktivpartnernummer, diese ist bevorzugt zu verwenden.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:choice>
                                <xs:annotation>
                                    <xs:documentation>Die Angabe von Kundendaten ist Pflicht es ist jedoch wählbar, ob ein bereits vorhandener Vertrag, eine betsehende Wertgarantiekundennummer oder die vollständigen Kundendaten bzw. Firmendaten übergeben werden.</xs:documentation>
                                </xs:annotation>
                                <xs:element name="Bestandsvertrag" type="xs:positiveInteger">
                                    <xs:annotation>
                                        <xs:documentation>Besitzt der Antragsteller bereits eine Wertgarantie, kann die Vertragsnummer anstatt der Kundendaten übergeben werden.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="Kundennummer" type="xs:positiveInteger">
                                    <xs:annotation>
                                        <xs:documentation>Besitzt der Antragsteller bereits eine Wertgarantie, kann die zugehörige Wertgarantiekundennummer anstatt der Kundendaten übergeben werden.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="Kundendaten" type="Personendaten">
                                    <xs:annotation>
                                        <xs:documentation>Ist der Antragseteller eine Person werden die Kundendaten erwartet.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="Firmendaten" type="Firmendaten">
                                    <xs:annotation>
                                        <xs:documentation>Ist der Antragsteller eine Firma, werden die Firmendaten erwartet.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:choice>
                            <xs:choice maxOccurs="unbounded">
                                <xs:element name="Geraet" type="AntragGeraet" />
                                <xs:element name="Kommunikation" type="AntragKommunikation" />
                                <xs:element name="Rad" type="AntragRad" />
                                <xs:element name="Gebaeude" type="AntragGebaeude" />
                            </xs:choice>
                            <xs:element name="AbwVertragsbeginn" type="Datum" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>(optional) Vom Standard abweichender Vertragsbeginn. (Nur nach separater Abstimmung und Freischaltung nutzbar)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Vertragsnummer" type="xs:integer" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>(optional) Es besteht die Möglichkeit über einen Webservice eine Vertragsnummer reservieren zu lassen und in diesem Feld zu hinterlegen. Dies bietet die Möglichkeit dem Kunden bereits bei der Antragserfassung die spätere Vertragsnummer zu nennen.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Produktdetails">
                                <xs:annotation>
                                    <xs:documentation>Genauere Beschreibung des abgeschlossenen Produktes</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Antragskodierung" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>Jedes Antragsformular hat eine eindeutige Kodierung und wird für die Zuordnung von Geschäftsbedingungen und Produktinformationen benötigt.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Produkttyp" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>Technische Beszeichnung des verkauften (Versicherungs-)Produkts</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Beratungsprotokolle" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Einige Produkte erfordern eine explizite Beratung.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Protokoll" maxOccurs="unbounded">
                                                        <xs:annotation>
                                                            <xs:documentation>Ist eine Beratung zum Produkt nötig, können hier alle verwendeten Beratungsbausteine geliefert werden.</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Beratungsbaustein" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Id eines Beratungsbausteins</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Zahlung">
                                <xs:annotation>
                                    <xs:documentation>Art der gewünschten Zahlungsweise. Die möglichen Kombinationen sind vom verkauften Produkt abhängig und vor der Einlieferung mit WERTGARANTIE abzustimmen.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:sequence>
                                            <xs:element name="Einzug" type="xs:boolean" fixed="true">
                                                <xs:annotation>
                                                    <xs:documentation>Die Prämien werden vom Kundenkonto direkt eingezogen.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="Intervall" type="xs:nonNegativeInteger" minOccurs="0" default="1">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        (optional) Gewünschtes Einzugsintervall
                                                        Für dieses Feld sind Schlüsselwerte vorgesehen. Diese finden Sie zum Elementnamen in der Tabelle unter: http://www.wertgarantie.de/XMLSchema/sst_schluesseltabelle.xlsx
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="Bankverbindung" type="AntragBVSepa">
                                                <xs:annotation>
                                                    <xs:documentation>Über die hier angegebene Bankverbindung werden die Prämieneinzüge abgewickelt.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                        <xs:sequence>
                                            <xs:element name="Selbstzahler" type="xs:boolean" fixed="true">
                                                <xs:annotation>
                                                    <xs:documentation>Der Kunde überweist die fälligen Prämien selbst auf ein Konto von WERTGARANTIE</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="Intervall" type="xs:nonNegativeInteger" minOccurs="0" default="1">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        (optional) Gewünschtes Zahlungsintervall
                                                        Für dieses Feld sind Schlüsselwerte vorgesehen. Diese finden Sie zum Elementnamen in der Tabelle unter: http://www.wertgarantie.de/XMLSchema/sst_schluesseltabelle.xlsx
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                        <xs:sequence>
                                            <xs:element name="VMRAbrechnung" type="xs:boolean" fixed="true">
                                                <xs:annotation>
                                                    <xs:documentation>Die Prämien werden direkt mit dem Fachhändler abgerechnet</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="Intervall" type="xs:nonNegativeInteger" minOccurs="0" default="0">
                                                <!--  TODO: Klären: Brauchen wir das hier? Kann vermutlich in der Verarbeitung aus dem Produkt abgeleitet werden oder? Gibt es Produkte die FH und mehrere Intervalle kennen? -->
                                                <xs:annotation>
                                                    <xs:documentation>(optional) Produktabhängiges Abrechnungsintervall</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Aktionscode" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Vom Kunden eingelöster Aktionscode. Dies sind Aktionscodes aus Marketingaktionen und Kundenkampagnen.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="128" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Bemerkung" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>(optional) Hier können Bemerkungen zum Antrag hinterlegt werden. Ist das Feld gefüllt fällt der Antrag in die manuelle Nachbearbeitung, so dass ein Mitarbeiter von WERTGARANTIE entsprechend der Bemerkung entscheiden kann.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="2000" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>